<!-- left logo -->

<div class="navbar">
  <div class="left-navbar navbar-item">
    <%= link_to "/" do %>
      <% image_tag "octocat.png", class: "avatar" %>
    <% end %>
  </div>
  <div class="navbar-search navbar-body">
    <%= simple_form_for gists_path , :method => :get do |f| %>
      <%= f.input :name, label: false, placeholder: "Search for a gist" %>
    <% end %>
  </div>
  <!-- right nav  -->
  <div class="right-navbar navbar-item">
    <% if !user_signed_in? %>
      <%= link_to new_user_session_path do %>
        <p>Log in</p>
      <% end %>

      <%= link_to new_user_registration_path do %>
        <p>Sign up</p>
      <% end %>
    <% else %>
      <%= link_to "/" do %>
        <% if current_user.username? %>
            <p><%= current_user.username %>'s gists</p>
          <% else %>
            <p>My gists</p>
        <% end %>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete do %>
        <p>Log out</p>
      <% end %>
    <% end %>
  </div>
</div>
